* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

#cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

main {
  margin: 30px;
}

.completed {
  text-decoration: line-through;
}
